@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FEFCF6;
    --foreground: #ededed;
    --font-cormorant: 'Cormorant Garamond', serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cormorant);
}
